# Ignore everything
/*

# But not these files...
!.gitignore
!README.md

!.zshenv
!.zprofile
!.zshrc

!setup.sh
!finalize.sh

!gnupg/
gnupg/*
!gnupg/gpgsetup.sh
!gnupg/gpg-agent.conf
!gnupg/gpg.conf

!iTerm/

!nvim/

